<div class="container align-items-center">
  <form action="/answer" data-turbo="false">
    <div class="input-group">
      <input type="text" name="answer" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>
